#page {
  max-height: 500px;
  overflow: scroll;
  margin: 100px;
  border: 2px solid black;
}

.table {
  border-collapse: collapse;
  min-width: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.table th {
    width: 100px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008cba;
  color: white;
}
